option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "myalumini.settings"
    "PYTHONPATH": "/opt/python/current/app/myalumini:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: myalumini/myalumini/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"