
container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python myalumini/manage.py migrate --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "myalumini.settings"
    "PYTHONPATH": "./usr/bin"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: myalumini/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"

